html, body {
  margin: 0;
  font-family: helvetica;
  font-size: 25px;33
  padding: 0;
}

body {
	width: 90vw;
	margin-left: 5vw;
	font-size: 17px;
	line-height: 25px;
font-family: helvetica;

}


h1 {
	margin-top: 0;
	margin-bottom: 23px;
	text-align: center;
}


p {
font-size: 17px;
font-family: helvetica;
line-height: 25px;
margin-top: 0;
margin-bottom: 0;
}


img {
margin-top: 10px;
margin-bottom: 10px;
width: 100%;
}


.title {
	position: absolute;
	top: 0px;
	left: 10px;
	font-size: 35px;
	
}

.title3 {
	position: absolute;
	top: 4000px;
	left: 10px;
	font-size: 50px;
	width: 300px;
	

}

.title4 {
	position: absolute;
	top: -50px;
	left: 10px;
	font-size: 35px;
	width: 300px;
}


.article {
	position: absolute;
	top: 9900px;
	left: 10px;
	font-size: 25px;
}




.article2 {
	position: absolute;
	top: 6900px;
	left: 10px;
	font-size: 50px;
	
}
.article3{
	position: absolute;
	top: 22988px;
	left: 10px;
	font-size: 50px;

}

.article4{
	position: absolute;
	top: 8000px;
	left: 10px;
	font-size: 50px;
	
}

.bodytext{
position: absolute;
font-size: 18px;
line-height: 23px;
margin-top: 0;
margin-bottom: 0;
width: 900px;
top: 500px;
line-height: 25px;

}

.bodytext3 {
position: absolute;
font-size: 18px;
width: 900px;
left: 10px;
top: 600px;
line-height: 25px;

}

.bodytext4 {
position: absolute;
font-size: 18px;
width: 900px;
left: 10px;
top: 650px;
line-height: 25px;

}


.bodytext5{
position: absolute;
font-size: 18px;
width: 900px;
left: 10px;
top: 350px;
line-height: 25px;

}

.logo{
	position: absolute;
	left: 1050px;
	top: -25px;
}

.image {
position: absolute;
	left: 15px;
	top: 1060px;
}


.image2 {
position: absolute;
	left: 800px;
	top: 0px;
}

.image3 {
position: absolute;
	left: 500px;
	top: 0px;
}

.image4{
position: absolute;
	left: 500px;
	top: 0px;
}

.title2 {
	position: absolute;
	top: 20px;
	width: 300px;
}

.bodytext2{
	position: absolute;
width: 900px;
top: 300px;

}